.app_profile_image img {
    width: 100%;
}

.app_profile_info {
    background-color: inherit;
    display: grid;
    grid-template-columns: 130px 10fr;
}

.app_profile_info img {
    width: 122px;
    height: 122px;
    margin: 0px auto;
    border-radius: 62px;
}

.app_profile_description {
    background-color: inherit;
    text-align: left;
}
