.posts {
    background-color: #f6f6f6;
    padding: 10px 10px 1px 10px;
}

.newPost {
    margin: 10px;
}

.addPost {
    background-color: #e3e3e3;
    padding: 10px;
}

.newPost h3 {
    margin: 0 0 5px 0;
    padding: 0;
}

.newPost textarea {
    vertical-align: middle;
    width: 89%;
}

.newPost button {
    vertical-align: middle;
    margin-left: 7px;
}