.app_post {
    background-color: inherit;
    display: grid;
    grid-template-areas: "app-user-avatar app-user-post";
    grid-template-rows: 1fr;
    grid-template-columns: 70px 10fr;
    padding: 10px;
    border-top: #a2a2a2 solid 1px;
}

.app_post img {
    grid-area: app-user-avatar;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50px;
}

.app_post p {
    grid-area: app-user-post;
    text-align: left;
}

.app_like {
    display: grid;
    grid-template-areas: "icon number";
    grid-template-rows: 1fr;
    grid-template-columns: 30px 10fr;
}

.app_like img {
    grid-area: icon;
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.app_like span {
    grid-area: number;
    text-align: left;
    vertical-align: middle;
}