.header {
    background-color: antiquewhite;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 9fr 1fr;
}

.header img {
    width: 128px;
    animation: App-logo-spin infinite 25s linear;
    pointer-events: none;
}

.header h1 {
    text-transform: uppercase;
    padding-top: 17px;
    color: chocolate;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loginBlock {
    margin: 0 auto;
}

.loginBlock a {
    color: chocolate;
    text-decoration: none;
}

.loginBlock img {
    width: 60px;
    border-radius: 50%;
    margin-top: 10px;
    animation: none;
}

.loginBlock p {
    margin: 0;
    padding: 0;
    text-align: center;
}