.header {
    background-color: antiquewhite;
    grid-area: header;
    display: grid;
    grid-template-columns: 1.5fr 10.5fr;
}

.header img {
    width: 128px;
    animation: App-logo-spin infinite 25s linear;
    pointer-events: none;
}

.header h1 {
    text-transform: uppercase;
    padding-top: 17px;
    color: chocolate;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}