.app_navbar {
    grid-area: app-nav;
    background-color: antiquewhite;
    padding: 10px;
}

.app_item {
    padding-bottom: 7px;
}

.app_item a {
    color: brown;
    text-decoration: none;
}

.app_item a.app_active_link{
    color: coral;
}