.profileImg {
    width: 830px;
}

.description {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
}

.description img {
    width: 170px;
}

.description h3, h4, p {
    margin-left: 10px;
}

.description p {
    vertical-align: top;
}