.app_post {
    background-color: inherit;
    display: grid;
    grid-template-areas: "app-user-avatar app-user-post";
    grid-template-rows: 1fr;
    grid-template-columns: 62px 10fr;
}

.app_post img {
    grid-area: app-user-avatar;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50px;
}

.app_post p {
    grid-area: app-user-post;
    text-align: left;
}