body {
  background-color: lightgray;
}
 
.app-wrapper {
  /* text-align: center; */
  display: grid;
  grid-template-areas:
  "app-header app-header"
  "app-nav app-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */

  min-width: 1024px;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.app-wrapper-link {
  color: #61dafb;
}

.app-wrapper-content {
  grid-area: app-content;
}
