.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {

}

.dialog {
    margin: 10px;
}

.dialogItems .active{
    color: dodgerblue;
    text-decoration: none;
}

.messages {

}

.message {
    margin: 10px;
}