.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog_items {
    color: brown;
    padding: 10px;
}

.dialog_items .active {
    color: coral;
}

.dialog {
    padding: 6px 5px;
    border-bottom: 1px #a2a2a2 solid;
}

.dialog_messages {
    padding: 10px;
}

.message {
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 7px;
    background-color: antiquewhite;
    border-bottom: 1px solid khaki;
}